{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid" src="{{ product.imageURL }}" alt="{{ product.name }}">
        </div>
        <div class="col-lg-6">
            <h2>{{ product.name }}</h2>
            <hr>
            <h4><strong>&#8377;{{ product.price }}</strong></h4>
            <p>{{ product.description }}</p>

            <div class="d-flex">
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a href="{% url 'store' %}" class="btn btn-outline-primary ms-3">Back to Store</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
